.loader-dot {
  animation: bounce 1s infinite ease-in-out both;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0.5);
    opacity: 0.3;
  }
  40% {
    transform: scale(0.8);
    opacity: 1;
  }
}
