@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari&display=swap");

/* src/index.css */
:root {
  --primary-color: #003630; /* Dark teal */
  --secondary-color: #ffffff; /* White */
  --lime-text: #95e36c; /* lime-400 for text */
  --lime-bg: #cff2bd; /* lime-200 for backgrounds */
}
body,
h1,
h2,
h3,
h4 {
  font-family: "IBM Plex Sans Devanagari", sans-serif;
}

/* Thin scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  width: 1px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
