@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari&display=swap");

@theme {
  --color-primary: #003630;
  --color-secondary: #ffffff;
  --color-lime-text: #95E36C;
  --color-lime-bg: #CFF2BD;
  --color-primary-text: #003630;
}

body {
  font-family: "IBM Plex Sans Devanagari", sans-serif;
}

/* Thin scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  width: 1px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
